{% extends "layout.html" %}
{% block content %}
    <title>关于FaceX</title>
    <h2>FaceX - 通过面孔推断人格特质</h2>
    <p>大量科学研究表明，每个人都具有一定的“看脸识人”的能力。如英国利物浦大学和圣安德鲁斯大学心理学系的研究者就发现，人们可以仅仅通过观察陌生人的面孔，就可以快速推断出他们是否内向，做事是否尽责。其他一些与社会交往相关的人格特质，如社会性行为倾向（专情还是花心）、可信赖性（真诚还是狡诈）和攻击性，也都可以在一定程度上通过观察面孔而分辨出来。</p>
    <p>人们之所以可以通过面孔来判断一个人的特质甚至能力，一方面源于面孔本身承载了一个人的“过去”（如遗传基因表现、岁月历练痕迹等）和“现在”（情绪状态等）：基因对人格有着重要的影响作用，同卵双生子的人格相似性显著高于异卵双生子，而面孔就是基因的一种外在表现；美国纽约大学心理学教授Leopold Bellak认为，面孔之所以能反映一个人的真实性格，是因为一个人最基本的内心情感或习惯性态度，往往能够“凝固”面部的肌肉。也就是说，拥有某种性格的人会经常性地在脸上呈现出对应的某种状态，比如乐观的人经常带有微笑，悲观的人经常耸拉着脸，久而久之，面部轮廓、肌肉纹路走向会随之改变，变成经常出现的那种状态，即便是在中性的表情状态下。这些因素使得高级灵长类动物的大脑需要特别分化出一些专门加工面孔信息的脑区。人们总是希望在交往中以最短的时间和最少的资源消耗来获取最多的信息，因此面孔是了解一个人的重要窗口。另一方面，进化学流派的动物信号理论认为，在生物进化历程中，面孔形态、信号发送者的行为和接收者理解信号的认知过程之间有紧密联系。这与行为主义的经典条件作用有点类似，特定的面孔形态或特征总是与特定的行为相联系，而行为又是人格特质的外显具体表现，因此人们会习惯性地依赖面孔来判断个体的性格特质。</p>
    <h3>16种人格因素</h3>
    <p>本应用利用深度学习技术，试图建立面孔与人格特质间的关联，让计算机也具备一定的“看脸识人”的能力。这里我们采用了“16种人格因素（16PF）问卷”对人格特质进行测量和描述。16种人格因素问卷是美国伊利诺州立大学人格及能力测验研究所卡特尔教授编制的用于人格检测的一种问卷。据统计，1971—1978年间被研究文献引用最多的测验中，16PF仅次于MMPI排居第二。在一项关于心理测验在临床上应用的调查中，16PF排名第五。卡特尔教授是人格特质理论的主要代表人物，对人格理论的发展作出了很大的贡献。</p>
{% endblock %}
