{% extends "layout.html" %}

{% block jscontent %}
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
    <title>FaceX - Personality from Face</title>
    <h2>Personality from Face</h2>
    <div style="text-align: center;"> 
        <img src={{url_for('static', filename='uploads/'+filename)}} />
    </div>
    <div id='divPlotly' align="center">
        <script>
            Plotly.react('divPlotly', {{ plotly_data|safe }}.data, {{ plotly_data|safe }}.layout);
        </script>
    </div>
    <div id='reference'>
	{% for key in info_dict %}
	    <h4> {{ key }}: </h4> {{ info_dict[key] }}
	{% endfor %}
    </div>
{% endblock %}
